### General Information

Our options:  Neural Network, LTSM, Logistic Regression, SVM, etc.

In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv("train.csv")
dataset.head()

,id,original,edit,grades,meanGrade
0,14530,France is ‘ hunting down its citizens who join...,twins,10000,0.2
1,13034,"Pentagon claims 2,000 % increase in Russian tr...",bowling,33110,1.6
2,8731,Iceland PM Calls Snap Vote as Pedophile Furor ...,party,22100,1.0
3,76,"In an apparent first , Iran and Israel <engage...",slap,20000,0.4
4,6164,Trump was told weeks ago that Flynn misled <Vi...,school,0,0.0

In [2]:
dataset= dataset[dataset['grades'] != 0]
dataset.head()

,id,original,edit,grades,meanGrade
0,14530,France is ‘ hunting down its citizens who join...,twins,10000,0.2
1,13034,"Pentagon claims 2,000 % increase in Russian tr...",bowling,33110,1.6
2,8731,Iceland PM Calls Snap Vote as Pedophile Furor ...,party,22100,1.0
3,76,"In an apparent first , Iran and Israel <engage...",slap,20000,0.4
5,8832,All 22 <promises/> Trump made in his speech to...,sounds,22200,1.2

In [3]:
dataset = dataset.drop(['id', 'grades'], axis=1)
dataset.head()

                                            original     edit  meanGrade
0  France is ‘ hunting down its citizens who join...    twins        0.2
1  Pentagon claims 2,000 % increase in Russian tr...  bowling        1.6
2  Iceland PM Calls Snap Vote as Pedophile Furor ...    party        1.0
3  In an apparent first , Iran and Israel <engage...     slap        0.4
5  All 22 <promises/> Trump made in his speech to...   sounds        1.2

In [4]:
## Convert to lowercase
dataset['original'] = dataset['original'].apply(lambda x: " ".join(x.lower() for x in x.split()))
dataset['original'].head()

0    france is ‘ hunting down its citizens who join...
1    pentagon claims 2,000 % increase in russian tr...
2    iceland pm calls snap vote as pedophile furor ...
3    in an apparent first , iran and israel <engage...
5    all 22 <promises/> trump made in his speech to...
Name: original, dtype: object

In [6]:
import re

dataset['replaced_sentence'] = ""
storage_array = []

for index, row in dataset.iterrows():
    #print(row['edit'])
    new = re.sub('<.*/>', row['edit'], row['original'], flags=re.DOTALL)
    storage_array.append(new)

dataset['replaced_sentence'] = storage_array
dataset.head()

,original,edit,meanGrade,replaced_sentence
0,france is ‘ hunting down its citizens who join...,twins,0.2,france is ‘ hunting down its citizens who join...
1,"pentagon claims 2,000 % increase in russian tr...",bowling,1.6,"pentagon claims 2,000 % increase in russian tr..."
2,iceland pm calls snap vote as pedophile furor ...,party,1.0,iceland pm calls snap vote as pedophile furor ...
3,"in an apparent first , iran and israel <engage...",slap,0.4,"in an apparent first , iran and israel slap ea..."
5,all 22 <promises/> trump made in his speech to...,sounds,1.2,all 22 sounds trump made in his speech to cong...

In [7]:
# Remove Stop Words

from nltk.corpus import stopwords
stop = stopwords.words('english')
dataset['replaced_sentence'] = dataset['replaced_sentence'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
dataset['replaced_sentence'].head()

0    france ‘ hunting citizens joined twins ’ witho...
1    pentagon claims 2,000 % increase russian troll...
2    iceland pm calls snap vote pedophile furor cra...
3         apparent first , iran israel slap militarily
5     22 sounds trump made speech congress , one chart
Name: replaced_sentence, dtype: object

In [8]:
# Remove punctuation
dataset['replaced_sentence'] = dataset['replaced_sentence'].str.replace('[^\w\s]','')
dataset['replaced_sentence'].head()

0    france  hunting citizens joined twins  without...
1    pentagon claims 2000  increase russian trolls ...
2    iceland pm calls snap vote pedophile furor cra...
3          apparent first  iran israel slap militarily
5      22 sounds trump made speech congress  one chart
Name: replaced_sentence, dtype: object

In [9]:
# Check for common words
frequent_words = pd.Series(' '.join(dataset['replaced_sentence']).split()).value_counts()[:10]
frequent_words

trump     3236
s         2218
us         709
says       597
house      478
donald     348
new        345
nt         344
white      329
gop        286
dtype: int64

### Importing DataSet

### Data Preprocessing

TO DO: each sentence is independent. each word in the sentence has its embedding. embed the old word as well.

### Building a Model

### Testing the Model